.login-form {
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 20%);
  padding: 26px 65px 40px 65px;
  display: flex;
  height: 496px;
  width: 627px;
  flex-direction: column;
  margin-top: 50px;
}

.login-title {
  font-weight: bold;
  font-size: 33px;
  color: #484545;
  margin-bottom: 45px;
}

.label-input-div {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-weight: bold;
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
}

.login-input {
  background: #fff;
  border: 1px solid #e5e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 58px;
  padding: 18px;
  margin-bottom: 30px;
  color: #888;
  font-size: 18px;
}

.login-input::placeholder {
  font-size: 18px;
  color: #888;
}

.register-link {
  align-self: flex-end;
  font-weight: bold;
  font-size: 18px;
  color: #00b0eb;
  margin-bottom: 40px;
}

.invalid-feedback {
  display: inline-block;
  color: red;
  font-size: small;
  align-self: flex-start;
}

.invalid-feedback h3 {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 481px) {
  .login-form {
    padding: 20px 40px;
    height: auto;
    width: 80vw;
    padding-bottom: 60px;
  }
  .login-title {
    font-size: 1.5em;
  }
  .input-label {
    font-size: 1em;
  }
  .login-input {
    height: 1em;

  }
  .register-link {
    font-size: 1em;
  }

  .container {
    margin: 0 auto;
    margin-top: 2em;
  }
}