.navbar {
  background-color: #FDDC47;
  padding: 20px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: 700;
  font-size: 32px;
  color: #474344;
}

.login-username {
  font-size: 24px;
  color: #474344;
  margin-right: 30px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logout-text {
  color: #474344;
  cursor: pointer;
}

#btn-new-note {
  margin-left: 20px;
}

@media (max-width: 481px) 
{
  .navbar-brand {
    font-size: 1.5em;
  }
}